.wrapper {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	margin-bottom: 16px;
}

.block {
	flex-basis: 50%;

	&:first-child {
		padding: 16px;
	}
}

.title {
	display: block !important;
	margin-bottom: 16px;

	font-size: 20px !important;
	line-height: 120% !important;
}

.image {
	border-radius: 4px;
}