.price {
	text-align: left !important;
	flex-grow: 1;
}

.title {
	max-height: 2em;
	overflow-x: hidden;
	hyphens: auto;
	max-width: 100%;
}

.good {}

.image {
	aspect-ratio: 4/3;
	object-fit: cover;
	border-radius: var(--borderRadiusMedium);
	max-width: 100%;
}

.option {
	&:not(:first-child) {
		margin-left: 10px;
	}

	&:not(:first-child) {
		position: relative;

		&::before {
			content: '';

			position: absolute;
			top: 50%;
			left: -11px;

			display: inline-block;
			width: 4px;
			height: 4px;
			background-color: #fff;
			border-radius: 2px;
			transform: translateY(-25%);

			@media (max-width: 350px) {
				display: none;
			}
		}
	}

	@media (max-width: 350px) {
		margin: 0 !important;
	}
}

.flex {
	display: flex;
	align-items: center;
	gap: 8px;

	@media (max-width: 350px) {
		flex-direction: column;
	}

	&>* {
		@media (max-width: 350px) {
			width: 100%;
			text-align: center;
		}
	}
}

.button {
	flex-grow: 1;
}