.wrapper {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	gap: 16px 32px !important;
	margin-bottom: 16px;

	@media (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

.image {
	width: 100%;
	object-fit: cover;
	max-width: 100px;
	height: 100px;
	border-radius: 4px;
}

.info {
	max-width: 500px;
}

.title {
	display: block !important;
	margin-bottom: 8px;
	font-size: 20px !important;
}

.price {
	font-size: 20px !important;
	flex-grow: 1;
	text-align: right !important;
}

.description {
	max-width: 500px;
	max-height: 60px !important;
	display: inline-block !important;
	overflow: hidden !important;
}

.counter {
	max-width: 70px;
	flex: 0 0 70px;
}