@import url("https://fonts.googleapis.com/css?family=Montserrat:900&display=swap");

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	background-color: #292929;
	padding-bottom: 150px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
}